.login {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    ;

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-form {
    width: 420px;
    max-width: 30%;
    min-width: 320px;
    background-color: #ecf0f1;
    height: fit-content;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: fadein 0.5s;
}

.login-form>h1 {
    padding: 16px;
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 10px;
}

.login-form>input {
    width: 85%;
    padding: 10px;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    margin-bottom: 20px;
}

.login-form>button {
    width: 85%;
    padding: 10px;
    background-color: #16a085;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 20px;
}

.login-form>a {
    width: 85%;
    padding: 10px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.4s;
    margin-bottom: 30px;
    text-align: center;
}

.login-form>button:hover {
    transform: scale(1.05);
}

.login-form>a:hover {
    transform: scale(1.05);
}

.login-with {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.login-form img {
    width: 46px;
    height: auto;
    cursor: pointer;
    transition: 0.4s;
}

.login-form img:hover {
    transform: scale(1.1);
}

.login-form>p {
    margin-bottom: 20px;
    width: 85%;
    text-align: center;
}

.login-form span {
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
}

.login-form span:hover {
    text-decoration: underline;
}

.login-form>p>a {
    color: #3498db;
    font-weight: bold;
    cursor: pointer;
}

.login-form>p>a:hover {
    text-decoration: underline;
}

.user {
    margin-bottom: 20px;
}

.pw-forgot {
    margin-bottom: 20px;
    padding-left: 5px;
    width: 85%;
}

.pw-forgot>a {
    cursor: pointer;
    color: #3498db;
    font-weight: bold;
}

.pw-forgot>a:hover {
    text-decoration: underline;
}

.user.active {
    background-color: #ff7d6e;
}

.error {
    opacity: 0;
    margin-bottom: 20px;
    transition: 0.5s;
    color: red;
    width: 85%;
    text-align: center;
}

.error.active {
    opacity: 1;
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}