#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    width: 100%;
    transition: 0.4s;
}

.logo {
    height: 60px;
    width: 100px;
    object-fit: cover;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    width: fit-content;
}

.header-nav a {
    color: #ffedbb;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    margin-right: 4vw;
}

.header-nav button {
    background-color: #e18936;
    color: #ffedbb; 
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.back-to-top {
    color: aliceblue;
    background-color: #2980b9;
    padding: 16px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.4s;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.back-to-top:hover {
    background-color: #6aa8d1;
}

.back-to-top:active {
    background-color: #a5c7dd;
}