#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    width: 100%;
    transition: 0.4s;
    z-index: 1;
}

.logo {
    height: 60px;
    width: 100px;
    object-fit: cover;
}

.header-nav {
    display: flex;
    align-items: center;
    color: #fff;
    width: fit-content;
}

.header-nav>a {
    color: #ffedbb;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    margin-right: 4vw;
}

.header-nav>a:hover {
    text-decoration: underline;
}

.login-signup-btn {
    font-size: 16px;
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 16px;
}

.login-signup-btn>a {
    color: #fff;
    background-color: #e18936;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s;
}

.login-signup-btn>a:hover {
    transform: scale(1.1);
}

.back-to-top {
    color: aliceblue;
    background-color: #2980b9;
    padding: 16px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.4s;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.back-to-top:hover {
    background-color: #6aa8d1;
}

.back-to-top:active {
    background-color: #a5c7dd;
}