#food-menu-container {
    background-color: #fff;
    padding: 20px 10vw;
    transition: 0.4s;
    height: fit-content;
}

.food-menu-nav {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.food-menu-searchbar {
    padding: 0 10px;
    height: 40px;
    outline: none;
    width: 20%;
    min-width: 180px;
    border: 1px #e18936 solid;
}

.food-menu-category {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}

.food-category {
    border: 1px solid #e18936;
    background: none;
    height: 40px;
    color: #e18936;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 0 10px;
    white-space: nowrap;
}

.food-category:hover {
    transform: scale(1.1);
}

.food-category.active {
    color: #fff;
    background-color: #e18936;
}

.food-menu {
    display: grid;
    height: 100%;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    overflow-y: auto;
    max-height: 1300px;
    min-height: 400px;
    animation: food-appear 0.5s;
    padding: 10px;
}

.food-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.food {
    width: 320px;
    border: 1px solid #e18936;
    animation: food-appear 0.5s;
    transition: 0.4s;
}

.food:hover {
    transform: scale(1.06);
}

@keyframes food-appear {
    from {
        opacity: 0;
    }

    ;

    to {
        opacity: 1;
    }

    ;
}

.food-image-container {
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
}

.food-image-container:hover .read-more {
    transform: scaleY(1);
}

.food-image {
    object-fit: cover;
    max-width: 100%;
    vertical-align: middle;
}

.food-description {
    padding: 10px;
}

.food-title {
    color: #e18936;
}

.food-location {
    color: #16a085;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
    width: fit-content;
}

.food-location:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 992px) {
    .food-menu-nav {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
    }

    .food-menu-searchbar {
        min-width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .food-category {
        height: 32px;
        font-size: 16px;
    }

    .food-menu-searchbar {
        height: 32px;
        font-size: 16px;
    }

    .food {
        width: 260px;
    }

    .food-title {
        height: 32px;
        display: flex;
        align-items: center;
        margin: 10px 0;
    }

    #food-menu-container {
        padding: 20px 5vw;
    }
    
    .food-menu-category {
        flex-wrap: wrap;
    }

    .food-menu {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    }
}

@media only screen and (max-width: 600px) {
    .food-menu-searchbar {
        min-width: 90vw;
    }
    .food {
        width: 200px;
    }
    .food-menu {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}