button {
    margin-left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 0;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 8%;
    color: #000;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.4s;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.hw {
    display: flex;
    gap: 1%;
}

.api {
    width: 33%;
    padding: 10px;
    border: solid 1px black;
    height: fit-content;
}