#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 3%;
    position: fixed;
    width: 100%;
    transition: 0.4s;
    z-index: 1;
}

.user-btn-avatar-container {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    overflow: hidden;
    border: solid 1px #7f8c8d;
}

.user-btn-avatar {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.logo {
    height: 60px;
    width: auto;
    object-fit: cover;
    transition: 0.4s;
}

.logo:hover {
    transform: scale(1.2);
}

.header-nav {
    display: flex;
    align-items: center;
    color: #fff;
    width: fit-content;
}

.header-nav>a {
    color: #ffedbb;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 20px;
    margin-right: 4vw;
    transition: 0.4s;
}

.header-nav>a:hover {
    transform: scale(1.1);
}

@keyframes appear {
    from {transform: translateY(-60px);opacity: 0;}
    to {transform: translateY(0);opacity: 1;}
}

.login-signup-btn {
    font-size: 16px;
    display: none;
    gap: 16px;
    align-items: center;
    font-size: 16px;
}

.login-signup-btn.active {
    display: flex;
}

.login-signup-btn>a {
    color: #fff;
    background-color: #e18936;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: 0.4s;
}

.login-signup-btn>a:hover {
    transform: scale(1.1);
}

.user-menu {
    background-color: #e18936;
    padding: 8px 16px;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: content-box;
    cursor: pointer;
    transition: 0.4s;
    perspective: 1000px;
    animation: appear 0.5s;
    width: fit-content;
    white-space: nowrap;
}

.user-menu.active {
    display: flex;
}

.user-menu>strong {
    margin-left: 5px;
}

.user-menu:hover {
    background-color: #a36124;
}

.user-menu:hover .user-submenu {
    opacity: 1;
    transform: rotateX(0);
}

.user-submenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 100%;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.user-submenu>* {
    background-color: #e18936;
    width: 100%;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    color: #fff;
    border-top: solid 1px #34495e;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.user-submenu>*:hover {
    background-color: #a36124;
}

.back-to-top {
    color: aliceblue;
    background-color: #e18936;
    padding: 16px;
    font-size: 25px;
    text-decoration: none;
    transition: 0.4s;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border: 1px solid #000;
}

.back-to-top:hover {
    background-color: #a36124;
}

.back-to-top:active {
    background-color: #e18936;
}