#welcome {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 6.5e-05) 0%, rgba(0, 0, 0, 0.65) 100%),
    url(./background.jpeg);
    background-repeat: no-repeat;
}

.search-container{
    position:relative; 
    top: 36%;
    text-align:center;
}

.wlc-title{
    font-size: 36px;
    color: #e18936; 
    font-weight: 600;
}

.wlc-subtitle{
    font-size: 20px;
    margin: 20px 0;  
    color:bisque; 
}

.wlc-search-box{
    width: 20vw; 
    height: 6vh; 
    outline: none; 
    padding: 10px; 
}

.wlc-search-btn{
    height: 6vh;
    width: 10vw; 
    margin-left: 4px;
    background-color: #e18936;
    color: #fff; 
}
