#welcome {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-container{
    text-align:center;
}

@keyframes fadeinleft {
    from {transform: translateX(-200px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

@keyframes fadeinright {
    from {transform: translateX(200px); opacity: 0;}
    to {transform: translateX(0); opacity: 1;}
}

.wlc-title{
    font-size: 36px;
    color: #e18936; 
    font-weight: 600;
    animation: fadeinleft 1s;
}

.wlc-subtitle{
    font-size: 20px;
    margin: 20px 0;  
    color:bisque; 
    animation: fadeinleft 1s;
}

.wlc-search-box{
    width: 20vw; 
    min-width: 200px;
    height: 6vh;
    min-height: 40px;
    outline: none; 
    padding: 10px; 
}

.wlc-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeinright 1s;
}

.wlc-search-btn{
    height: 6vh;
    width: 10vw;
    min-height: 40px;
    min-width: 60px;
    margin-left: 4px;
    background-color: #e18936;
    color: #fff; 
    cursor: pointer;
    transition: 0.4s;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wlc-search-btn:hover {
    background-color: #da9d65;
}