#welcome {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: 
    linear-gradient(0deg, rgba(0, 0, 0, 6.5e-05) 0%, rgba(0, 0, 0, 0.65) 100%),
    url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search-container{
    text-align:center;
}

.wlc-title{
    font-size: 36px;
    color: #e18936; 
    font-weight: 600;
}

.wlc-subtitle{
    font-size: 20px;
    margin: 20px 0;  
    color:bisque; 
}

.wlc-search-box{
    width: 20vw; 
    min-width: 200px;
    height: 6vh;
    min-height: 40px;
    outline: none; 
    padding: 10px; 
}

.wlc-search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wlc-search-btn{
    height: 6vh;
    width: 10vw;
    min-height: 40px;
    min-width: 60px;
    margin-left: 4px;
    background-color: #e18936;
    color: #fff; 
    cursor: pointer;
    transition: 0.4s;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wlc-search-btn:hover {
    background-color: #da9d65;
}