#food-detail {
    height: fit-content;
    background: none;
    padding-top: 20vh;
    margin-bottom: 30px;
    text-align: center;
}

.food-infor {
    display: flex;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.food-infor * {
    min-width: 500px;
}

.food-detail-title {
    font-size: 60px;
    color: #e18936;
    font-weight: bold;
    text-align: center;
}

.detail-image-container {
    width: 30vw;
    aspect-ratio: 16/9;
    overflow: hidden;
    vertical-align: middle;
}

.food-detail-image {
    object-fit: cover;
    max-width: 100%;
}

.food-detail-description {
    color: #fff;
    font-size: 30px;
    min-width: 300px;
    width: 40vw;
}

.food-detail-location {
    width: 40vw;
    aspect-ratio: 16/9;
    min-width: 300px;
}

@media only screen and (max-width: 992px) {
    .food-detail-title{
        font-size: 50px;
    }
    .food-detail-description {
        font-size: 25px;
    }
    .food-infor * {
        min-width: 440px;
    }
}

@media only screen and (max-width: 768px) {
    .food-detail-title{
        font-size: 40px;
    }
    .food-detail-description {
        font-size: 20px;
    }
    .food-infor * {
        min-width: 340px;
    }
}

@media only screen and (max-width: 600px) {
    .food-detail-title{
        font-size: 26px;
    }
    .food-detail-description {
        font-size: 16px;
    }
    .food-infor * {
        min-width: 240px;
    }
}